<title>{{ title }}</title>

<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="text/html" charset="utf-8" https-equiv="Content-Type">
<meta content="utf-8" https-equiv="encoding">

<script id="prebuilt-template" type="text/html">
    <select name="prompt" id="prompt">
        <option value="prompt1">Prompt 1</option>
    </select>

    <form action="/" method="post">
        <input type="text" name="authorName" id="authorName" placeholder="Author's Name"><br>
        <textarea id="essayText" rows="20" cols="70" placeholder="Copy your essay here."></textarea> </br>
        <button class="btn submit" id="submit" value="Submit Essay" name="Submit Essay">Submit essay</button>
    </form>

</script>