<title>{{ title }}</title>

<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script id="prebuilt-template" type="text/html">
    <select>
        <option value="prompt1">Prompt 1</option>
    </select>

    <form>
        <input type="text" name="firstname" id="firstname" placeholder="Author First Name"><br>
        <input type="text" name="lastname" id="lastname" placeholder="Author Last Name">
    </form>

    <textarea id="essayText" rows="20" cols="70" placeholder="Copy your essay here."></textarea> </br>

    <button class="submit" value="Submit Essay" name="Submit Essay">Submit essay</button>

</script>