<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>

<script src="/js/models/essayGrade.js" ></script>
<script src="/js/views/preBuiltView.js"></script>
<script src="/js/collections/essayCollection.js"></script>
<script src="/js/views/essayCollectionView.js"></script>

<script src="/js/backboneApp.js"></script>
